# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .clang-format                                      :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: frthierr <frthierr@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/09/21 20:28:50 by frthierr          #+#    #+#              #
#    Updated: 2025/09/21 20:28:54 by frthierr         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: false
AlignConsecutiveAssignments: false
AlignOperands: true
BinPackArguments: false
BinPackParameters: false
